# Arquivos do sistema
.DS_Store
Thumbs.db
*.tmp
*~

# Arquivos do VSCode (permitimos as configurações específicas)
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json

# Arquivos de backup
*.bak
*.orig

# Logs gerais
*.log
C/ponteiros/Tema 3 - Pilhas e Filas/filas-e-pilhas
C/ponteiros/Tema 3 - Pilhas e Filas/pilha
C/ponteiros/Tema 3 - Pilhas e Filas/reversao-de-fila
