# Arquivos compilados específicos de ponteiros
*.o
*.obj
*.exe
*.out

# Diretórios de build locais
obj/
bin/

# Arquivos de debug/valgrind
*.dSYM/
vgcore.*
massif.out.*
callgrind.out.*

# Arquivos temporários
*~
*.tmp
*.swp
*.swo

# Arquivos específicos do AddressSanitizer
*.asan_symbolizer_cache
Tema 3 - Pilhas e Filas/fila
Tema 3 - Pilhas e Filas/filas-e-pilhas
Tema 4 - Algoritmos Avançados/arvore_trie
Tema 4 - Algoritmos Avançados/arvore
